/*Boilerplate*/
.container{
	width: (@colwidth+@gutter)*@columns;
	margin:0 auto;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12, .span13, .span14, .span15, .span16{
	float:left;
}

.first{
	padding-left:0!important;
}

.last{
	padding-right:0!important;
}

body{
	font-size: 14px;
	line-height: 20px;
}

h1{
	font-size: 48px;
	line-height: 48px;
	padding-top:12px;
}

h2{
	font-size:32px;
	line-height:32px;
	padding-top:8px;
}

h3{
	font-size:24px;
	line-height:24px;
	padding-top:16px;
}

h4{
	font-size:18px;
	line-height:18px;
	padding-top:2px;
}

h5{
	font-size:16px;
	line-height:16px;
	padding-top:4px;
}

h6{
	font-size:14px;
	line-height: 14px;
	padding-top:6px;
}

p{
	padding-bottom:20px;
}
